*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color: #0084FD;
    position: fixed;
    width: 100%;
    height: 3em;
}

header div{
    width: 70%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header div figure img{
    object-fit: contain;
    height: 2em;
    display: block;
    /* line-height: 3em; */
    /* vertical-align: middle; */
}

header div nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

header div nav ul{
    display: flex;
    align-items: center;
    gap: 1em;
}

header div nav ul li{
    list-style-type: none;
}

header div nav ul li a{
    color: white;
    text-decoration: none;
}

header div nav ul li a:hover{
    border-bottom: 1px solid white;  
}

header div nav button{
    padding: 5px;
    background-color: white;
    border: 0;
    border-radius: 10px;
    color: black;
}

header div nav button:hover {
    color: gray; 
}

header div svg{
    display: none; 
    fill: white;
}

@media screen and (max-width: 780px){
    header div{
        width: 90%;
        margin: 0 auto;
    }

    header div nav{
        display: none; 
    }

    header div svg{
        display: block;
    }

    header div svg:hover nav{  
        display: block; 
    } 

}


@media screen and (max-width: 420px){
    header div{
        width: 90%;
        margin: 0 auto;
    }

    header div nav{
        display: none; 
    }

    header div svg{
        display: block;
    }

    header div svg:hover > nav{  
        display: block; 
    } 
 
}

