*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
}

header{
    background-color: #0084FD;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 999;
}

header div{
    width: 70%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header div figure img{
    object-fit: contain;
    height: 2em;
    display: block;
    /* line-height: 3em; */
    /* vertical-align: middle; */
}

header div nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

header div nav ul{
    display: flex;
    align-items: center;
    gap: 1em;
}

header div nav ul li{
    list-style-type: none;
}

header div nav ul li a{
    color: white;
    text-decoration: none;
}

header div nav ul li a:hover{
    border-bottom: 1px solid white;  
}

header div nav button{
    padding: 5px;
    background-color: white;
    border: 0;
    border-radius: 10px;
    color: black;
}

header div nav button:hover {
    color: gray; 
}

header div svg{
    display: none; 
    fill: white;
}









#section-01{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 100px; 
}

#section-01 > div{
    width: 70%;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

#section-01 > div div{
    flex-basis: calc((100% / 3) - 20px);
    /* height: 30px; */
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: #B5DDFF;
    padding-block: 30px;
    padding-inline: 20px;
}

#section-01 > div #larger-box{
    flex-basis: calc(((100% / 3) * 2) - (20px / 2));
}

#section-01 > div .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section-01 > div .box svg{
    fill: #0084FD;
    /* height: 50px;  */
    align-self: center;
    display: inline;
}

#section-01 > div .box h3{
    text-align: center;
    color: #0084FD;
}

#section-01 > div .box p{
    line-height: 140%;
    text-align: center;
    font-size: 12px;
    color: gray;
}

#section-01 > div #larger-box{
    display: flex;
    padding: 0;
}

#section-01 > div #larger-box div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 50%;
}

#section-01 > div #larger-box figure{
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
}

#section-01 > div #larger-box figure img{
    width: 70%;
}

#section-01 > div #larger-box div h3{
    color: #0084FD;
}

#section-01 > div #larger-box div p{
    line-height: 140%;
    font-size: 12px;
    color: gray;
}

#section-01 > div #larger-box div a{
    text-decoration: none;
    color: white;
    padding-inline: 20px;
    padding-block: 5px;
    background-color: #0084FD;
    border-radius: 10px;
    width: 60%;
}

#section-01 > div #larger-box div a:hover{
    background-color: rgba(0, 132, 253, 0.75);
}

#section-01 > div #larger-box div a svg{
    fill: white;
}




#section-02{
    background-color: #9792E4;
}

#section-02 > div{ 
    width: 60%;
    margin: 0 auto;
    /* padding-top: 100px; */
    padding-block: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    box-sizing: content-box;
    flex-wrap: wrap;
}

#section-02 div:first-child div{
    width: calc(50% - (30px / 2));
}

#section-02 div div figure img{ 
    object-fit: contain;
    max-width: 100%;
    margin-block: 50px;
}

#section-02 div div h3, #section-02 div div p{
    color: white;
    padding-bottom: 10px;
}

#section-02 div div p{ 
    font-size: 80%; 
    line-height: 150%; 
}

#section-02 div:nth-child(2) h3, #section-02 div:nth-child(2) p{
    color: black;
}

#section-02 div:nth-child(2) div{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    text-align: center;
}

#section-02 div:nth-child(2) div figure img{
    width: 60%;
    object-fit: contain;
}

#section-02 div:nth-child(2) div svg{
    padding: 10px;
    background-color: #9792E4ff;
    border-radius: 50%;
    margin-top: 1em;
    height: 2em;
    width: 2em;
}

#section-03 {
    padding-block: 70px;
    background-color: #ffffff;
}

#section-03 #testimonials-top{
    width: 70%;
    margin: 0 auto;
}

#section-03 #testimonials-top{
    text-align: center;
}

#section-03 #testimonials-top h2{
    color: #9792E4;
    padding: 20px 0;
    font-size: 30px;
}

#section-03 #testimonials-bottom{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin-block: 40px;
}

#section-03 #testimonials-bottom > div{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #9792E4;
    border-radius: 30px;
    padding: 10px;
}

#section-03 #testimonials-bottom div figure{
    width: 30%;
}

#section-03 #testimonials-bottom div div{
    width: calc(70% - 30px);
}

#section-03 #testimonials-bottom div figure img{
    width: 100%;
    /* height: 100%; */
    clip-path: circle(50%);
    object-fit: contain;
    display: block;
    /* border-radius: 50%; */
    z-index: 20; 
}

#section-03 #testimonials-bottom div div blockquote { 
    color: white;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 10px; 
}

#section-03 #testimonials-bottom div div blockquote svg { 
    fill: white;
}

#section-03 #testimonials-bottom div div cite { 
    text-transform: uppercase;
    text-decoration: none; 
    font-style: normal;  
    color: white;
}

#section-04 {
    background-color: #9792E4;
}

#section-04 > div {
    width: 70%;
    margin: 0 auto;
    padding-block: 70px;
}

#section-04 > div h2 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

#section-04 div div{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#section-04 div div div{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
    
#section-04 div div div h3, #section-04 div div div h4{
    color: #9792E4;
}

#section-04 div div div h3{
    font-size: 25px;
}

#section-04 div div div p{
    font-size: 12px;
    line-height: 140%;
    color: gray;
}

#section-04 div div div{
    width: calc(30% - 30px);
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#section-04 div div div button{
    width: 30%;
    background-color: #9792E4;
    color: white; 
    border: 0;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 10px 
}

#section-04 div div div button:hover{
    background-color: rgba(151, 146, 228, 0.75);
}





#section-05{
    background-color: #ffffff;
}

#section-05 #container {
    width: 70%;
    margin: 0 auto;
    padding-block: 50px; 
    padding-inline: 70px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

#section-05 #container #left{
    width: calc(70% - 30px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section-05 > div:first-child div h2{
    font-size: 30px;
    color: #9792E4;
}

#section-05 > div:first-child div p{
    color: gray;
    font-size: 12px;
    line-height: 150%;
}

#section-05 #container #right{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section-05 #container #right figure{
    position: relative;
    aspect-ratio: 1;
}

#section-05 #container #right figure svg{
    position: absolute;
    top: 0;
    right: 0;
    fill: #9792E4;
    z-index: 60;
}

#section-05 #container #right figure img{ 
    border-radius: 50%;
    position: absolute;
    top: 0;
    object-fit: contain;
} 

#section-05 #container #right h3{
    color: #9792E4;
}

#section-05 #container #right a{
    padding-block: 5px;
    padding-inline: 10px;
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #9792E4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#section-05 #container #right a:hover{
    background-color: rgba(151, 146, 228, 0.75);
}

#section-05 #container #right a svg{
    fill: white;
}

@media screen and (max-width: 780px){
    header div{
        width: 90%;
        margin: 0 auto;
    }

    header div nav{
        display: none; 
    }

    header div svg{
        display: block;
    }

    header div svg:hover + #show{  
        display: flex; 
        flex-direction: column;
        background-color: #0083fd9b;
        padding: 20px;
        border-radius: 10px;
        text-align: end;
        margin-bottom: -230px;
        gap: 10px;
    } 

    header div svg:hover + #show ul{ 
        display: flex; 
        flex-direction: column;
        gap: 10px;
        text-align: end;
    }
    header div svg:hover{  
        display: none; 
    } 


    #section-02 > div{ 
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    #section-02 div div{
        min-width: 100%;
    }

    #section-02 div div h3{
        font-size: 25px;
    }

    #section-02 div div p{
        font-size: 18px;
    }

    #section-03 #testimonials-bottom, #section-03 #testimonials-top{
        width: 90%; 
    }

    #section-03 #testimonials-bottom div div blockquote { 
        font-size: 11px;
    }

    #section-03 #testimonials-bottom div div cite { 
        font-size: 10px;
    }


    #section-04 > div {
        width: 90%;
    }

    #section-04 div div div{
        width: calc(50% - 30px);
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    #section-01 > div{
        width: 90%;
    }

    #section-01 > div #larger-box{
        display: flex;
        flex-direction: column;
    }

    #section-01 > div #larger-box div{
        flex-basis: 100%;
    }

    #section-01 > div #larger-box figure{
        flex-basis: 100%;
    }

    #section-01 > div #larger-box figure img{
        width: 70%;
    }
 
    #section-01 > div #larger-box div a{
        text-align: center;
    }
}



@media screen and (max-width: 420px){
    header div{
        width: 90%;
        margin: 0 auto;
    }

    header div nav{
        display: none; 
    }

    header div svg{
        display: block;
    }

    header div svg:hover > nav{  
        display: block; 
    } 
 
    #section-02 > div{ 
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    #section-02 div div{
        min-width: 100%;
    }

    #section-02 div div h3{
        font-size: 40px;
    }

    #section-02 div div p{
        font-size: 20px;
    }

    #section-03 #testimonials-bottom > div{
        flex-direction: column;
    }

    #section-03 #testimonials-bottom, #section-03 #testimonials-top{
        width: 90%; 
    }

    #section-03 #testimonials-bottom div div blockquote { 
        font-size: 11px;
        line-height: 160%;
    }

    #section-03 #testimonials-bottom div div cite { 
        font-size: 10px;
    }

    #section-03 #testimonials-bottom div div{
        width: 100%; 
        text-align: center;
    }


    #section-04 > div {
        width: 90%;
    }

    #section-04 div div div{
        width: calc(100%);
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    #section-01 > div{
        width: 90%;
    }
    
    #section-01 > div #larger-box{
        display: flex;
        flex-direction: column;
    }

    #section-01 > div #larger-box div{
        flex-basis: 100%;
    }

    #section-01 > div #larger-box figure{
        flex-basis: 100%;
    }

    #section-01 > div #larger-box figure img{
        width: 70%;
        margin: 0 auto;
    }
 
    #section-01 > div #larger-box div a{
        text-align: center;
    }

    #section-01 > div div, #section-01 > div #larger-box{
        flex-basis: 100%;
    }
}
